<div>
  <h1>How to use the API</h1>
  <p>get /country; get/one; get /all; get/animal; /animalAPI/</p>
  <p>GET /animalAPI/all : returns every animal contained in the database</p>
  <p>GET /animalAPI/country : requires a query called country; returns every entry in the database with a country name containing the query</p>
  <p>GET /animalAPI/animal : requires a query called animal; returns every entry in the database with an animal name containing the query</p>
  <p>GET /animalAPI/one : requires two queries called animal and country ; returns an entry from the database with an animal name containing the animal query and a country name containing the query</p>
</div>
